.DS_Store
.ipynb_checkpoints/
clips/
hand_coding/
frames/
frames_with_head_for_annotation/
head_localization_haar/
head_localization_haar_multiple_2/
head_localization_haar_multiple_3/
lk_optical_flow_visualization_err_20_votes_0.6/