.DS_Store
.ipynb_checkpoints/
clips/
frames/
head_localization_haar/
hand_coding/
ground_truth_cut_label_dicts/
ground_truth_face_label_dicts/
cut_label_dicts_lk_optical_flow/
head_label_dicts_haar/
haarcascade_frontalface_default.xml